<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Opiskelijaelämä</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<h1>Laulut</h1>
    <table class="table table-stripped">
    	<tr>
    		<th>Nimi</th>
    		<th>Sävel</th>
    		<th>Pakollinen</th>
    		<th></th>
    		<th></th>
    	</tr>
    	<tr th:each = "laulu : ${laulut}">
    		<td th:text="${laulu.nimi}"></td>
    		<td th:text="${laulu.savel}"></td>
    		<td th:text="${laulu.pakollinen}"></td>
    		<td><a th:href="@{/editLaulu/{id}(id=${laulu.lauluId})}" class="btn btn-primary">Muokkaa</a></td>
    		<td><a th:href="@{/deleteLaulu/{id}(id=${laulu.lauluId})}" class="btn btn-danger">Poista</a></td>
    	</tr>
     </table>
<a href="/addLaulu" class="btn btn-primary">Lisää Laulu</a>
</body>
</html>