<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Opiskelijaelämä</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<form th:object="${tehtava}" th:action="@{../tallennaTehtava}" action="#" method="post">
	<input hidden type="text" th:field="*{tehtavaId}" readonly="readonly"/>
	<label for="tehtavaNimi">Nimi</label>
	<input type="text" id="tehtavaNimi" th:field="*{tehtavaNimi}" />
	<br/>
	<label for="tehtavaKuvaus">Kuvaus</label>
	<input type="text" id="tehtavaKuvaus" th:field="*{tehtavaKuvaus}" />
	<br/>
	<input type="submit" value="Tallenna" class="btn btn-success"></input>
	</form>
</body>
</html>